.workcard{
    text-align: center;
    background: #000;
    width: 100%;
    height: 580px;
    margin: auto;
}
.workcard img{
    width: 70%;
    height: 100%;
    margin: 10px;
}
.workcard .card-title{
    color: #0289b6;
}
.workcard .card-text{
    color: #fff;
}